.page_styling {
  background-image: url("https://images.unsplash.com/photo-1762417419967-d5ccd2ebe463?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: rgb(0, 0, 0);
  color: white
}
