.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: url("https://images.unsplash.com/photo-1758232589439-f5ec09dc92c2?q=80&w=1018&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D ")
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  background-color: black;
  width: 400px;
}

.banner p {
  font-size: 20px;
  color: rgb(145, 48, 178);
  opacity: .7;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  background-color: black;
  width: 400px;
}

.banner a {
  color: white;
}
