.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(213, 7, 7, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(160, 29, 29, 0.2);
}
